<html>

<head>
	<title>Register - Sign In</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"> 

	<link rel="stylesheet" type="text/css" href="../public/styles/master.css">

	<script type="text/javascript" src="../public/scripts/master.js" defer></script>
	<script type="text/javascript" src="../public/scripts/signIn.js" defer></script>
</head>

<body>

	<div class="header">
		<h1 class="primary-message">Sign In</h1>
	</div>
		
	<div id="main" class="main">
		<div id="error" <% if (!locals.errorMessage || (locals.errorMessage === "")) { %> class="hidden" <% } %>>
			<h4 id="errorMessage" class="error-message">
				<% if (locals.errorMessage && (locals.errorMessage !== "")) { %>
					<%= locals.errorMessage %>
				<% } %>
			</h4>
		</div>
		<p id="errorTest" style="color:red"></p>

		<form action="/" method="POST" onsubmit="return validateForm();" class="inputContent">
			Employee ID: <input type="number" id="employeeID" name="employeeID" placeholder="Employee ID"></input> </br>
			Password: <input type="password" id="password" name="password" placeholder="Password"></input> </br>

			<input type="submit" value="Sign In"> </br>

		</form>
	</div>
		
</body>

</html>